:root {
    --fuente_texto: Verdana;
    --fuente_logo: "Varela Round", sans-serif;
    --color_azul: #2593ce;
    --color_rosado: #f31c95;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 13px !important;
    /*background-color: #50bfaf;*/
    background-image: linear-gradient(to top, #E9E9E9 0%, white 100%);
    height: 100;
    /*display: flex;
    flex-direction: column;*/
}

/*Icono logo, texto logo y menu*/
.header_contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
}


.menu {
    font-family: var(--fuente_logo);
    text-decoration: none;
    text-align: center;
}

.menu nav a {
    text-decoration: none;
    margin: 0 10px;
    color: var(--color_rosado);
    display: inline-block;
    margin-top: 2rem;
}

/*MediaQery para menu y logo - para pantallas chicas*/
@media (max-width: 768px) {
    .header_contenedor {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

}

.titulo_logo {
    font-family: var(--fuente_logo);
    font-size: 3rem;
    margin-left: 0;
    margin-top: .5rem;
}

/*Título secciones Bienvenida, Privacidad y Autor*/
h2 {
    font-family: var(--fuente_logo);
    font-weight: 900;
    font-style: normal;
    text-align: center;
    color: black;
}

/*Título Instrucciones*/
h3 {
    margin-left: 10rem;
    color: black;
    font-weight: 800;
    font-style: normal;
    text-align: center;
    margin: 0;
}

/*Estilo que aplica a las pantallas chicas*/
.bienvenida {
    background-image: linear-gradient(to right, var(--color_azul) 0%, rgb(71, 30, 252) 100%);
    padding: 1.5rem;
    border-radius: 1rem;
    text-align: justify;
    margin: .5rem;
    color: whitesmoke;
}

.bienvenida__txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Alinea verticalmente el texto y la imagen */
    justify-content: space-between;
    /* Distribuye espacio entre el texto y la imagen */
    color: whitesmoke;
}

.img_bienvenida {
    max-width: 50%;
    /* Ajusta el tamaño de la imagen */
    margin-left: 1rem;
    /* Espacio entre el texto y la imagen */
}

/*La mayoría de los textos*/
p {
    font-family: var(--fuente_texto);
    font-weight: 100;
    margin: 10px;
}

.txt-fu-salud {
    display: flex;
    align-items: center;
    text-align: left;
    font-style: oblique;
    font-size: x-small;
    margin-left: 10px;
}

/*Ajuste tamaño ícono "información" en pantallas chicas*/
@media (max-width: 768px) {

    .txt-fu-salud svg,
    .txt-descargas svg {
        width: 15px;
        height: 15px;
    }
}

.posdata {
    font-style: oblique;
    font-size: small;
    text-align: center;
    color: var(--color_azul);
    font-family: var(--fuente_texto);
}

/*estilo txt_bienvenida que aplica a las pantallas de mínimo 768px*/
@media (min-width: 768px) {
    .bienvenida .bienvenida__txt {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: whitesmoke;
    }

    .menu {
        margin-left: auto;
        font-family: var(--fuente_logo);
        text-decoration: none;
        text-align: center;
    }

    .instrucciones {
        display: flex;
        font-family: var(--fuente_logo);
        justify-content: space-between;
        align-items: center;
        margin-left: 10px;
        margin-right: 3rem;
        text-align: justify;
    }

    .instrucciones p {
        margin-left: 40px;
    }
}

/*Estilo para agrandar el icono del logo en pantallas chicas*/
@media (max-width: 768px) {
    .icon-tabler {
        width: 48px;
        /* Aumenta el tamaño del SVG */
        height: 48px;
        margin: 0;
        /* Elimina márgenes adicionales */
        padding: 0;
    }
}

.bienvenida img {
    margin-left: 10px;
    width: 20rem;
    height: auto;
    max-width: 100%;
    border-radius: 0.5rem;
}

.instrucciones {
    font-family: var(--fuente_logo);
    align-items: center;
    margin-right: 3rem;
    text-align: justify;
    padding: 20px;
}


/*Estilo del contenedor de los formularios. Aplica a todos los formularios*/
.formulario {
    align-items: center;
    text-align: center;
    background-color: #c9c9c9;
    max-width: 100rem;
    margin: 0 auto 0 auto;
    border-radius: 1rem;
    padding: 2rem;
}

/*"min" es estilo para pantallas grandes (de 768 para arriba
@media (min-width:768px) {
    .form-estudiante,
    .form-colegio,
    .form-PIE1,
    .form-PIE2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 1rem;
    }
}*/

.label-float {
    margin-left: 1rem !important;
}


/*.form-PIE1 .campo:nth-child(1) {
    grid-column: 1/4;
}

.form-PIE1 .campo:nth-child(5),
.form-PIE1 .campo:nth-child(3) {
    grid-column: 1/3;
}

.form-PIE1 .campo:nth-child(6),
.form-PIE1 .campo:nth-child(4) {
    grid-column: 3/5;
}*/

/*OK campo "nombre colegio" ocupa todo el ancho (1 fila partida en 5
.form-colegio .campo:nth-child(1) {
    grid-column: 1/5;
}*/

/*OK campo "nombre director" ocupa un poco menos de todo el ancho (1 fila partida en 4
.form-colegio .campo:nth-child(2) {
    grid-column: 1/4;
}*/

/*.form-estudiante .campo:nth-child(3) {
    grid-column: 1/3;
}

.form-estudiante .campo:nth-child(6) {
    grid-column: 1/3;
}

.form-estudiante .campo:nth-child(1) {
    grid-column: 1/4 !important;
}*/


/*Adapta tamaños campos nombre y curso*/
.form-estudiante .col-sm:nth-child(1),
.primera-fila .col-sm:nth-child(1) {
    flex: 2;
    /* Columna más grande */
}

.form-estudiante .col-sm:nth-child(2),
.primera-fila .col-sm:nth-child(2) {
    flex: 1;
    /* Columna más pequeña */
}

@media (max-width: 768px) {
    .form-colegio, .form-estudiante {
        display: flex;
        flex-direction: column;
    }
}

/*Adapta tamaño campos establecimiento y RBD*/
.form-colegio .col-sm:nth-child(3) {
    flex: 1;
    /* Columna más grande */
}

.form-colegio .col-sm:nth-child(1),
.form-colegio .col-sm:nth-child(2) {
    flex: 2;
    /* Columna más grande */
}

.campo {
    padding: 1rem;
}

label {
    font-family: var(--fuente_logo);
    margin-bottom: 1rem;
    color: #292828;
    display: block;
    text-align: left;
}

/*eliminar y cambiar todos los campos por label flotante y probar*/
.input {
    font-family: var(--fuente_texto);
    width: 100%;
    /*para que ocupe todo el ancho*/
    border: none;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: whitesmoke;
}

/*para poder dar estilo específico a los campos de label floating con !important*/
.form-control {
    border-radius: 1rem !important;
    font-size: larger !important;
    height: 5rem !important;
    margin-bottom: 1rem;
}

legend {
    text-align: center;
    font-family: var(--fuente_logo);
    font-weight: 800;
}

fieldset {
    margin: 20px;
    border-radius: 0.5rem;
    border: 2px solid #ccc !important;
    padding: 20px !important;
}

.subtitulo-form {
    text-align: center;
    font-family: var(--fuente_logo);
    padding: 1rem;
    font-weight: 900;
}


.boton:hover {
    cursor: pointer;
    background-color: var(--color_rosado);
}

.boton {
    background-color: var(--color_azul);
    padding: 1rem;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: .5rem;
    text-align: center;
    border: none;
    font-family: var(--fuente_logo);
    margin-top: 1rem;
}

/*fieldset de botones*/
.botones {
    display: grid;
    justify-items: center;
    align-items: center;
    align-items: center;
    text-align: center;
    max-width: 100rem;
    margin: 0 auto 0 auto;
    border-radius: 1rem;
    padding: 2rem;
}


@media (min-width: 576px) {
    .botones {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columnas en pantallas medianas */
    }
}

@media (min-width: 768px) {
    .botones {
        grid-template-columns: repeat(3, 1fr);
        /* 3 columnas en pantallas grandes */
    }
}

@media (min-width: 992px) {
    .botones {
        grid-template-columns: repeat(4, 1fr);
        /* 4 columnas en pantallas más grandes */
    }
}

.txt-descargas {
    display: flex;
    align-items: center;
    text-align: left;
    font-style: oblique;
    font-size: x-small;
    margin-left: 10px;
    margin-top: 1rem;
}

/*Títlo confidencialidad*/
.titulo_confi {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/*Texto Confidencialidad*/
.confidencialidad p {
    text-align: justify !important;
    padding: 1rem;
}

/*Ajuste del título "confidencialidad" para pantallas chicas*/
@media (max-width: 768px) {
    .titulo_confi {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .titulo_confi h2 {
        margin: 0;
        font-size: 1.5rem;
    }

    .titulo_confi svg {
        width: 32px;
        height: 32px;
    }

}

/*Sección autor*/
.mi-nombre {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(to right, var(--color_azul) 0%, rgb(71, 30, 252) 100%);
    border-radius: 1REM;
}

.name {
    font-family: var(--fuente_logo);
    color: blue;
    font-size: 3rem;
    margin: 1rem;

}

.apellido {
    font-family: var(--fuente_logo);
    color: var(--color_rosado);
    font-size: 3rem;
    margin: 1rem;
}

/*Ajuste seccion Autor pantallas chicas*/
@media (max-width: 768px) {

    .name,
    .apellido {
        font-size: x-large;
    }
}

.autor .txt-name {
    text-align: center;
    margin: 0;
}

.icon-contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Ajuste de los íconos de contacto pantallas chicas*/
@media (max-width: 768px) {
    .icon-contact svg {
        width: 30px;
        height: 30px;
    }

    .txt-name {
        margin: 0;
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: smaller;
    font-family: var(--fuente_texto);
    color: gray;
    margin-left: 1rem;
}

@media (max-width: 768px) {
    .foot svg {
        width: 15px;
        height: 15px;
    }
}

.foot {
    display: flex;
    align-items: center;
}

.form-estudiante .boton {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-top: 1rem;
}